*{
    margin: 0 !important;
    padding: 0 !important;
}
/* colores */
:root{
    --main-color: #ff385c;
    
    --rose-color: #f6b5c7;
}
.letra_logo{
    color: var(--main-color) !important;
}
.a_cards{
    text-decoration: none !important;
    color: black !important;
}
.navbar-register_button{
    background-color: var(--main-color);
    border-radius: 20em !important; 
    border: 2px solid var(--main-color) !important;
 
}
/* navbar */
/* .navbar-register__a{
    border: 10px black !important;
   
} */
.navbar-upload{
    border: 2px solid var(--main-color) !important;
    border-radius: 20em !important; 
    border: 2px solid var(--main-color) !important;
    
} 
.navbar-upload__a{
    color: var(--main-color) !important;
}
/* banner */
.banner{

    background-image: url("/img/home_header.png");
    min-height: 20vh;
    
}

.carrito_header{
    /* position: absolute; */     
    top: -280%;
    left: 75vw;
    width: 280px !important;
}
/* .container__buscador{
    max-height: 5px;
} */
.buscador_banner{
    width: 30em !important;
    
    border-radius: 20em !important;
    border: none;
    padding: .20em 0.6em;
    background-color: rgba(255, 255, 255, 0.7);
}
.placeholder_buscador{
    text-align: center;
}
.placeholder_buscador::placeholder{
    background-image: url(/img/icons/search_icon.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position:  2rem center;
    
    
    
}

.linea--banner{
    background-color: var(--rose-color);
}
/* categorias */
.categorias{
    overflow: scroll;
}
.categories_icons{
    width: 50px !important;
} 
.categorias-carrousel{
    max-width: 80%;
}
.category-items{
    color: black;
    list-style: none;
    text-decoration: none !important;
    margin: 0 3em;
    
}
.category__list-item{
    list-style: none;
    text-decoration: none !important;
}
.category-items{
    list-style: none;
    text-decoration: none !important;
}
.category_name{
    position: absolute;
    left: 1.5em;
    top: 1em;
    font-size: smaller;
    font-weight: 400; 
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    padding: .5em .7em !important;
    border-radius: 2em;
}

.a_category_name{
    text-decoration: none !important;
    color: rgb(70, 70, 70);   
}


/* banner secundario */
.banner_secundario{
    background-image: url(/img/banner_home2.png);
    min-width: 60%;
    min-height: 10vh;
    background-size: cover;

}

/* .cards_home_anuncios{
    max-width: 60%;
} */
/* cards */
.icono_fav_card{
    position: absolute;
    top: 1.3em;
    left: 14.5em;
    width: 2.5em;
    height: 2.5em;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.fondo_icon{
    background-color: rgba(255, 255, 255, 0.7) !important;
}
.icon_like{
    width: 2em;
}
/* .img__card{
    
} */
.container__img--card{
    /* max-width: 18rem;
    min-height: 20rem;
    max-height: 25rem; */    
    border-radius: 6% !important;
    overflow: hidden;
    display: flex;
}

/* medias */
/* @media screen (max-with: 425px ) {
    .container__img--card{
        
    }
    
} */