/* font style */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* ------------------ */
*{
    margin: 0 !important;
    padding: 0 !important;
    
}
body{
    height: 100%;
    font-family: 'Open Sans', sans-serif !important; 

}
h1{
    font-weight: 700;
    font-size: 35px !important;
}
h2{
    font-weight: bold !important;
    font-size: 28px !important;
    color: #253238 !important;
}
html{
    height: 100%;
}
/* colores */
:root{
    --main-color: #ff385c;    
    --rose-color: #f6b5c7;
    --gray-dark: rgba(219, 219, 219, 0.7);
    --gray--color: rgba(172, 172, 172, 0.7);
}


.letra_logo{
    color: var(--main-color) !important;
}
.a_cards{
    text-decoration: none !important;
    color: black !important;
}


/* navbar */
.icon__nav{
    width: 1.5em !important;
}
.nav__register--button{
    font-size: 0.9em !important;
}
.container__buton--subir{
    width: 40% !important;
    
}
.navbar-register_button{
    background-color: var(--main-color);
    border-radius: 2em !important; 
    border: 2px solid var(--main-color) !important;
    font-weight:bold !important;
 
}
.navbar-register_button:hover {
    color: var(--main-color) !important;
    background-color: #ffffffc6;
    font-weight:bold !important;
} 
.navbar-login_button{
    border: 2px solid var(--main-color) !important;
    border-radius: 20em !important; 
    border: 2px solid var(--main-color) !important;
    background-color: #fff;
    font-weight:bold !important;
    color: var(--main-color) !important;
}
 
.navbar-login_button:hover {
    
    background-color: var(--main-color);
    color:white !important;
    border-radius: 2em !important; 
    border: 2px solid var(--main-color) !important;
    font-weight:bold;
}
.log-subeTuProducto{
    text-decoration: none !important;
    color: white !important;
}
.log-subeTuProducto:hover{
    color: var(--main-color) !important;
}

.navbar-upload{
    border: 2px solid var(--main-color) !important;
    border-radius: 20em !important; 
    border: 2px solid var(--main-color) !important;
    
} 
.navbar-upload__a{
    color: var(--main-color) !important;
}

/* banner */
.banner{

    background-image: url("/img/home_header_1.png");
    min-height: 26vh;
    
}



.carrito_header{
    /* position: absolute; */     
    top: -280%;
    left: 75vw;
    width: 280px !important;
}

.buscador_banner{
    width: 30em !important;  
    height: 2.5em;  
    border-radius: 20em !important;
    border: none;
    padding: .20em 0.6em ;
    background-color: rgba(255, 255, 255, 0.7);
}
.buscador_banner_list{

    width: 30em !important;  
    height: 2.5em;  
    border-radius: 20em !important;
    border:#44152c !important;
    padding: .20em 0.6em ;
    background-color: rgba(187, 185, 185, 0.306);

}

/* Pre-footer */
.pre-footer {
    display: flex !important;
    float: left !important;
  
    
}

.pre-footer .pre-footer-row .pre-footer-item .pre-footer-item-logo img {
    height: 50px !important;
}

.row1 {
    width: 1085px !important;
 
}

.pre-footer .pre-footer-row .pre-footer-item {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    
   
}

.pre-footer .pre-footer-row .pre-footer-item .pre-footer-item-title {
    font-size: 18px !important;
    font-weight: 600;
}

a[href^=tel] {
    text-decoration: inherit;
    color: inherit;
}
.pre-footer .pre-footer-row .pre-footer-item .pre-footer-item-title {
    font-size: 19px;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 14px;
    margin-bottom: 10px;
}
.pre-footer .pre-footer-row {
    display: flex !important;
    justify-content: space-around !important;
    align-items: flex-start !important;
}
.pre-footer .pre-footer-row .pre-footer-item .pre-footer-item-text {
    text-align: center !important;
}
/* .placeholder_buscador::placeholder{
    background-image: url(/img/icons/search_icon.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position:  0rem center ;   
} */
.lupa_buscador_icono_home{
    left: 29px;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.lupa_buscador_icono_search_list{
    left: 65px !important;
    z-index: 1 !important;
    position: absolute !important;
    top: 50% ;
    transform: translateY(-50%);
}

.placeholder_buscador{
    padding-left: 3em !important;
}

.placeholder_login {
    padding-left: 1em !important;
}

/* searcher component */

.buscador__show{
    background-color: rgba(219, 219, 219, 0.7) !important;
 border-radius: 20em !important;
    border: none;
    padding: .20em 0.6em;
    width: 100% !important; 
    
}

.dropdown__button--filtros{
    background-color: rgba(219, 219, 219, 0.7) !important;
    border: none !important;
    color: black !important;
}
.dropdown__button--moda{
    background-color: var(--rose-color) !important;
    border: none !important;
    color: black !important;
}

/* -------------------- */
/* vista de show */
.titulo__ad{
    font-size: 2em;
    font-weight: 300;
}
.container__show--info a{
    text-decoration: none !important;
    color: black;
    font-size: 14px !important;
}

/* about us */

.img_x {
    width: 100%; /* need to overwrite inline dimensions */
    height: auto;
  }
  h2 {
    margin-bottom: .5em;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }
  
  
  /* hover styles */
  .lenguaje-listing {
    position: relative;
  }

  .
  
  .lenguaje-image {
    line-height: 0;
    overflow: hidden;
  }
  
  .lenguaje-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .lenguaje-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;
    
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lenguaje-listing:hover .lenguaje-title {
    opacity: 1;
  }
  
  .lenguaje-listing:hover .lenguaje-image img {
    filter: blur(2px);
  }
  
  
  /* for touch screen devices */
  @media (hover: none) { 
    .lenguaje-title {
      opacity: 1;
    }
    .lenguaje-image img {
      filter: blur(2px);
    }
  }



.container_conoce{
    margin-top: 255px !important;
}
.items_about_us{
text-decoration: none !important;
font-size: 25px !important;
}


.video_aboutus{
    border-radius: 25px !important;
}

.video_blog{
    border-radius: 25px !important;
    justify-content: center !important;
}

.img_team_team{
    /* transition: transform .3s ease; */
    border: transparent !important;
  
}

/* .img_team_team:hover{
    transition: transform .3s;
    transform: scale(1.1, 1.1);
    border-radius: 10px !important;
    border:1px solid  !important;
    border-color: var(--main-color)!important;
    
}  */

.item:before {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background-color: var(--main-color);
  transition: all .3s;
}

.item:hover:before {
  width: 100%;
}

.uno:before {
  left: 0;
}


/* .anima:hover{
 
 animation-duration: 2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      width: 100%
    }
  
    to {

      width: 105%;
    }
  }
     */




.precio{
    font-size: larger;
}
.container__show--infoUser{
    position: absolute;
    top: 5%;
    left: 80%;
}
.container__photo--user{
    width: 3em;
    height: 3em;

    border-radius: 100%;
    background-color: #ff385c;
}

.btn__comprar{
    background-color: var(--main-color) !important;
    border-radius: 2em !important; 
    border: 2px solid var(--main-color) !important;
    font-weight:bold !important;
 
}
.btn__comprar:hover {
    color: var(--main-color) !important;
    background-color: #ffffffc6 !important;
    font-weight:bold !important;
}




.cantidad__productos{
    font-size: 0.7em;
}
.entrega{
    font-size: 1em;
}

.icon__rrss--show{
    width: 1.5em;
}

.icon__rrss--footer{
    width: 1.5em;
}
.icon__pago--footer{
    width: 2em;
}
.container__protegemos--show{
    border: solid 1px var(--gray--color);
    border-radius: 2em;
}
.icon__escudo{
    color: rgb(0, 171, 0);
}
.p__proteccion{
    font-size: 0.8em;
}
.carousel__show{
    background-color: var(--main-color) !important;
    height: 500px !important;
}
/* ------------------------- */
.linea--banner{
    background-color: var(--rose-color);
}
/* categorias */

.categories_icons{
    width: 50px !important;  
    height: 35px !important;
    
} 
.categories_icons:hover{
   filter: invert(38%) sepia(25%) saturate(7486%) hue-rotate(328deg) brightness(101%) contrast(105%);
/* filter: invert(100%); */
    cursor: pointer;
  }

.owl-carousel{
    max-width: 1450px;
}
 .button.owl-next, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot.owl-nav {
    position: absolute;
    left: 20px;
    top: 30%;
    background-color: var(--base-color) !important;
    display: block;
    padding: 0 .3em !important;
    font-size: 3em;
    margin: 0;
    cursor: pointer;
    color: #555554 !important;
    transform: translate(-50%, -50%);
}

.button.owl-prev, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot.owl-nav {
    position: absolute;
    right: -33px;
    top: 30%;
    background-color: var(--base-color) !important;
    display: block ;
    padding: 0 .3em !important;
    font-size: 3em ;
    margin: 0;
    cursor: pointer;
    color: #555554 !important;
    transform: translate(-50%, -50%);
}


.category-items{
    color: black;
    list-style: none;
    text-decoration: none !important;   
}
.category-items:hover{
    color: var(--main-color);
    list-style: none;
    text-decoration: none !important;   
}

.category__list-item{
    list-style: none;
    text-decoration: none !important;

}
.category-items{
    list-style: none;
    text-decoration: none !important;
}
.category_name{
    position: absolute;
    left: 1.5em;
    top: 1em;
    font-size: smaller;
    font-weight: 400; 
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    padding: .5em .7em !important;
    border-radius: 2em;
}

.a_category_name{
    text-decoration: none !important;
    color: rgb(37, 37, 37);   
}
.category__tag{
    font-weight: 300 !important;
    border: none !important;
    background-color: var(--gray--color) !important;
    font-size: .8em !important;
}
.category__icon--tag{
    width: 1.9em;
}
.category__icon--tag:hover{
    width: 1.9em;
    
}

.table_cookies td {
   padding: 1em !important;
border: 1px solid #e1dbdb !important;
border-bottom-width: 2px !important; 
}

.dropdown-menu.show{
display:grid !important;
width: 100% !important;

}
.envianosUnMail{
    text-decoration: none !important;
    color: black !important;
}
/* banner secundario */
.banner_secundario{
    background-image: url(/img/banner_home2.png);
    min-width: 60%;
    min-height: 10vh;
    background-size: cover;

}

.banner_conocenos{
    background-image: url(/img/banner_aboutus.png);
    min-width: 60%;
    min-height: 30vh;
    background-size: cover;

}
.banner_secundarioList{
    background-image: url(/img/banner_listado.png);
    min-width: 60%;
    min-height: 30vh;
    background-size: cover;


}
.banner_segundo_home{
    background-image: url(/img/banner_listado2.png);
    min-width: 60%;
    min-height: 30vh;
    background-size: cover;

}

.cards_home_anuncios{
    transition: transform .3s ease;
}

.cards_home_anuncios:hover{
    transition: transform .3s;
    transform: scale(1.1, 1.1);
}

.label{
    border-color:rgb(181, 181, 181) !important;
    font-size: 13px!important;
}

.img-border{
    border-radius: 30px !important;
   
}

/* cards */
.icono_fav_card{
    position: absolute;
    top: 1.3em;
    left: 14.5em;
    width: 2.5em;
    height: 2.5em;
    z-index: 1;
    display: flex;
    border-radius: 100%;
}
.boton_eliminar{
    color: #5c5858;
    border-radius: 225px !important;
    border: #e2062e !important;
}
.boton_eliminar:hover{
    color: #FF385C ;
    border-radius: 225px !important;
    border: #FF385C !important;
}

.fondo_icon{
    background-color: rgba(255, 255, 255, 0.7) !important;
}

.icon-esconder{
    display: none !important;
}
.cambiaColor {
    
    color:  #555554 ;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .cambiaColor:hover{
    color: var(--main-color);
  }
  .cambiaColorActive{
    color: var(--main-color) !important;
  }

  
.carrito_logo_modal{
width: 2.9rem;
padding-right: 0.5rem !important;

}
.icon_like{
    width: 2em;
    position: absolute;
    top: -4.5px;
    left: 0.5px;
}
.button_icon-like{
    background: none;
    border: none;
}
.like-boost{
    font-size: x-large;
    color: #555554;
}

.container__img--card{
    /* max-width: 18rem;
    min-height: 20rem;
    max-height: 25rem; */    
    border-radius: 6% !important;
    overflow: hidden;
    display: flex;
}
.container__img--card2{
    max-width: 18rem;
    min-height: 20rem;
    max-height: 25rem;     
    border-radius: 6% !important;
    overflow: hidden;
    display: flex;
}

.btn-language{
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn_aceptar{
    padding: 5px 10px !important;
    border-radius: 5px !important;
    font-size: 15px !important;
   margin-right: 25px !important;
}
.btn_rechazar{
    padding: 5px 10px !important;
    border-radius: 5px !important;
    font-size: 15px !important;
    
}

.container_botones {
    display:flex !important;
    justify-content: center !important;

}

.info_icon_home{
    width: 2.5rem;
    height: 2rem;
    padding: 2.5rem;
}
.boton_imagenes{
    border-style: dotted !important;
    border-width: 3px;
    border-radius: 5px;
    border-color: #FF385C;
    background-color: #ff385d1e;
    width: 134px;
    height: 145px;
}
.boton_imagenes_empty{
    border-style: dotted !important;
    border-width: 3px;
    border-radius: 5px;
    border-color: #d5d2ca;
    background-color: #f3f8f8;
    width: 134px;
    height: 145px; 
}
.aviso_imagenes{
    background-color: #f6b5c7;
}

/* GRID CATEGORIAS SEARCH */
.dropdown-menu.show{
    display:flex !important;
    justify-content:center !important;
    width: 100% !important;
    justify-items: center !important;
    transform: translate3d(0px, 159px, 0px) !important;

    }

.icon_grid{
    width: 40px !important;
}
.p-title{
    font-size:12px !important ;
}

.button_grid_categories{
    width: 100px !important;
    border-radius: 15px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-color: #9c999a !important;
    
}
.button_grid_categories:hover{
    background-color: var(--rose-color) !important;;
    list-style: none;
    text-decoration: none !important;  
    
}
.logo_aulab{
    width: 190px;
    height: 75px;
}
.info_icon_img{
    width:  45px !important;
    display:block;
    margin:auto  !important;
}
.grid_imagenes_subir{
    height: 250px !important;
    margin-left:15px !important;
    width: 250px !important;
    object-fit:cover !important;
}

.input_boton{
    border-radius: 25px !important;
    color: #FF385C !important;
}
.placeholder_categoria{
    color: #696768 !important;
}

/* pagina contacto */
.form-contact {
    box-shadow: 0 0 4px 2px #00000030;
}

.row1{
position: relative;
}

 .info-contact {
    width: 40% !important;
    padding: 0 20px !important;
    position: relative !important;
}

.white-box {
    position: relative !important;
    top: -70px;
    background: #fcfcfc !important;
    margin: 0 50px !important;
    padding: 15px !important;
}
.social-media{
width: 25px !important;
}

.contacta-icon{
    width: 5px !important;
    
    }
.title_contact {
    font-weight: 700;
    margin-bottom: 5px;
}
 .line {
    width: 50px;
    height: 5px;
    background: var(--main-color);
    border-radius: 5px;
    margin: 4px 15px !important;

}


  .animated {
    animation:
      move-right 5s linear 0s,   /* Comienza a los 0s (no hay anterior) */
      look-up 2.5s linear 5s,    /* Comienza a los 5s (5 de la anterior) */
      move-left 5s linear 7.5s,  /* Comienza a los 7.5s (5 + 2.5 de la anterior) */
      dissapear 2s linear 9.5s;  /* Comienza a los 9.5s (5 + 2.5 + 2 de la anterior) */
  }

.line_fotos {
    width: 55px;
    height: 5px;
    background: var(--main-color);
    border-radius: 5px;
    margin: 5px !important;

}

.text-required{
        font-size: 14px !important;
        
}

.group-inputs {
    display: flex !important;
    flex-wrap:wrap !important;
}
.half {
    width: 50% !important;
    
}
/* MODAL */
.my-modal{
    position: sticky !important;
    left: 0 !important;
    top: 0 !important;
    margin: auto !important;
    transform: translate(0%, 10%) !important; 
    margin: auto;
    width: 40% !important;
    border-radius: 20em !important;
}

.my-modal-title{
    width: 2rem !important;
}
.my-modal_idioma{
width:25% !important;
}
.loginLinkModal{
    padding: 0 4em 0 4em !important;
}
.recuperar_contraseña{
    font-size: 14px !important;
}
.requisito_contraseña{
    color:#aca8a8;
    font-size: 11px !important;
padding-left: 5px !important;
padding-top: 5px !important;
}

/* Blog */
.blog_img{
    border-radius: 23px !important;
}

.p_blog{
    font-size: 15px !important;
}
.a_blog{
    color: #FF385C !important;
}

/* carrousel responsive show */

  
/* boton animado */

.animated-button {
    background: linear-gradient(to bottom, #ff385c 0%, #ff385c 50%, #FFFFFF 50%, #FFFFFF 100%);
    background-size: 100% 200%; /* para que el gradiente ocupe todo el botón */
    transition: background-position 0.5s ease; /* la animación durará 0.5 segundos y será fácil */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }





  /* carousel nuevo responsive css */
  #kiko-slider {
    font-family: sans-serif;
    margin: auto;
    background-color: white;
    max-width: 800px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

#kiko-slider>ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#kiko-slider>ul.slider {
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 300px;
}

#kiko-slider>ul.slider h1 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
}

#kiko-slider>ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: #fff;
}

#kiko-slider>ul.slider li img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#kiko-slider>ul.slider li:first-child {
    opacity: 1;
    /*Mostramos el primer <li>*/
}

#kiko-slider>ul.slider li:target {
    opacity: 1;
    /*Mostramos el <li> del enlace que pulsemos*/
}

#kiko-slider>.menu {
    text-align: center;
    margin: 20px;
}

#kiko-slider>.menu li {
    display: inline-block;
    text-align: center;
}

#kiko-slider>.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}
/* .logoModal{
    width: 100px;
} */
/* medias */
@media  (max-width: 425px ) {
    .my-modal{
        /* margin: 100% !important; */
        width: 100% !important;
    }
    
} 


/* carousel show */
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: flex;
    width: 100%;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.5rem;
  }
  
  .carousel-prev {
    left: 0;
  }
  
  .carousel-next {
    right: 0;
  }
  
